body {
    font-family: 'Raleway', sans-serif;
    margin: 0%;
    background-color: f9f9f9;
}

#header {
    background-image: url('https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80');
    height: 100vh;
    position: relative;

}

#startup-banner {
    background-color: #f9f9f9;
    height: 75vh;
}

#text-header {
    position: absolute;
    top: 60px;
    left: 195px;
    text-align: center;

}

h3 span {
    color: #00a89d;
}

#startup {
    background-color: black;
    color: #f9f9f9;
}

#creative {
    font-size: 60px;
}

#left {
    position: absolute;
    top: 230px;
    left: 75px;
    border: none;
    border-top: 8px double white;
    text-align: center;
    height: 5px;
    width: 100px;
}

#right {
    position: absolute;
    top: 230px;
    left: 375px;
    border: none;
    border-top: 8px double white;
    text-align: center;
    height: 5px;
    width: 100px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(185, 184, 184);

}

#menu>img {
    height: 70px;
    margin-top: 40px;
}

nav {
    margin-top: 60px;
    font-weight: bold;
}

nav>a {
    text-decoration: none;
    padding: 8px;
    color: black;


}

nav>a:hover {

    background-color: #00a89d;
    border-radius: 4px;
    color: rgb(255, 255, 255);

}

.left-lines {
    position: relative;
    top: 37px;
    left: -198px;
    border: none;
    border-top: 5px double rgb(216, 211, 211);
    text-align: center;
    height: 6px;
    width: 200px;
}

.right-lines {
    position: relative;
    top: -32px;
    left: 198px;
    border: none;
    border-top: 5px double rgb(216, 211, 211);
    text-align: center;
    height: 6px;
    width: 200px;
}

#offer {
    text-align: center;
    margin-top: 25px;
    margin-bottom: -23px;
}

#offer h4 {
    position: relative;
    bottom: 40px;
    color: #9e9a9ab7;
}

#services {

    display: flex;
    flex-direction: row;
}

.cercle {
    width: 90px;
    height: 90px;
    background-color: #2e2c2c;
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cerle-blue {
    width: 90px;
    height: 90px;
    background-color: #00a89d;
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#services div h2,
p {
    text-align: center;
}

#services div button {
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    margin-top: 15px;
    padding: 15px;
    color: rgb(135, 134, 134);
    background-color: #f9f9f9;
    border: 1px solid rgb(135, 134, 134);
    border-radius: 10px;

}

#services div button:hover {

    background-color: #00a89d;
    color: white;
    border: none;
}

#amazing {
    text-align: center;
    margin-top: 40px;
    height: 70vh;
    background-color: #383838;
}

#amazing h3 {
    position: relative;
    bottom: -57px;
    margin-top: 10px;
    color: white;
}

#amazing h4 {
    position: relative;
    margin-top: -20px;
    bottom: -64px;
    opacity: 50%;
    color: #9e9a9ab7;
}

#compagny{
    text-align: center;
    margin-top: 40px;
    height: 30vh;
    background-color: #383838;
}

#compagny h3 {
    position: relative;
    bottom: -57px;
    margin-top: 10px;
    color: white;
}

#compagny h4 {
    position: relative;
    margin-top: -20px;
    bottom: -64px;
    opacity: 50%;
}

#features {
    display: flex;
    margin-top: -3px;
    height: 100vh;
}

#features h2 {
    text-align: left;
}

#block {
    display: flex;
    flex-direction: column;
    background-color: #383838;
    color: #f9f9f9;
    text-align: left;
    margin-left: 334px;
    margin-right: -100px;
    font-size: small;
    margin-top: 100px;
}

#block div {
    display: flex;
    flex-direction: column;
    margin-top: -96px;
    padding-top: 73px;
}


#block p {
    text-align: left;
    font-size: small;
    color: #9e9a9ab7;
    margin-left: 26px;
    width: 25%;
}

.multipurpose {
    display: flex;
    flex-direction: column;
}

#vertical {
    display: block;
    margin-top: -411px;
    margin-left: 1090px;
    margin-right: -566px;

}

#horizontal {
    display: block;
    margin-top: -253px;
    margin-left: 905px;
    margin-right: -566px;

}

#advantages {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, 237px);
    margin-top: 12px;
    height: 400px;
    column-gap: 5%;
    margin-top: 40px;
    margin-bottom: -100px;
    margin-left: 329px;
    margin-right: 134px;
}

#advantages p {
    flex-direction: row;
    text-align: left;
    font-size: smaller;
}

#advantages h2 {
    flex-direction: row;
    text-align: left;
    font-size: small;
}

.haut {
    display: flex;
    flex-direction: row;
    padding-top: 45px;
}

#skills {
    display: flex;
    flex-direction: row;
    background-color: #383838;
    height: 16vh;
    justify-content: center;
}

.skills {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#skills h2 {
    font-size: medium;
    margin-left: 12px;
    margin-top: 40px;
    color: #9e9a9ab7;
    opacity: 70%;
    font-weight: bold;
}

#power {
    background-color: #f9f9f9;
    height: 80vh;

}

.percentage {
    justify-content: center;
    flex-direction: row;
    width: 83px;
    height: 79px;
    background-color: #2e2c2c;

    transform: translate(5px, -50px);
    border-radius: 334px;
}


#galerie div button {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 348px;
    color: rgb(226, 218, 218);
    background-color: #00a89d;
    width: 830px;
    height: 4vh;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 27%;
    border: none;
}

.grille {
    width: 100%;
    height: auto;
    margin: 30px auto;
    margin-left: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: center;
    grid-gap: 3px;
}

.grille-images {
    width: 275px;
    height: 200px;
    background-color: #686464b7;
}

.grille-images:hover {
    background-color: #00a89d;
}

#companyfact {
    display: flex;
    justify-content: center;
    height: 20vh;
    margin-top: -52px;
    background-color: #383838;
}

#companyfact div {
    margin-top: -10px;
    align-items: center;
    text-align: center;
}

#companyfact h2 {
    text-align: center;
    font-size: xx-large;
    color: white;

}

#companyfact p {
    text-align: center;
    font-weight: bold;
    font-size: xx-small;
    color: rgb(226, 218, 218);
    opacity: 50%;
}

#menu-satified {
    display: flex;
    justify-content: space-around;
    height: 5vh;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    background-color: #00a89d;
    text-align: right;
}

#menu-satified h2 {
    color: rgb(226, 218, 218);
    margin-top: 20px;
    font-weight: bold;
    font-size: medium;
}

#menu-satified button {
    font-weight: bold;
    margin-top: 15px;
    color: rgb(104, 97, 97);
    border-radius: 3px;
    border: white;
    font-size: small;
}

#team-members {
    height: 60vh;
}

#team {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#team article {
    border-radius: 10px;
    width: 230px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    border: solid 0.5px rgba(184, 184, 184, 0.514);
    font-size: 15px;
}

#team article div {
    height: 235px;
    background-color: #00a89d;
}

#team article button {
    margin-left: 55px;
    width: 50%;
    border: none;
    height: 40px;
    border-radius: 10px;
    color: aliceblue;
    background-color: #00a89d;
}

#team article button:hover {
    background-color: #2e2c2c;

}

#testimony {
    background-color: #00a89d;
    height: 30vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#testimony p {
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 50px;
    justify-content: center;
    color: #f9f9f9;
    font-size: larger;

}

#testimony h3 {
    width: 228px;
    height: 18px;
    padding: 8px;
    padding-left: 14px;
    color: rgb(135, 134, 134);
    font-size: small;
    font-weight: bold;
    background-color: #f9f9f9;
    border: 1px solid rgb(135, 134, 134);
    border-radius: 4px;
}

#sponsoring {
    height: 25vh;
    background-color: #383838;

}

#sponsoring>img {
    height: 122px;
    margin-top: 37px;
    margin-left: 385px;
}

#cheap-prices {
    height: 50vh;
}

#cheap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cheap article {
    border-radius: 10px;
    width: 230px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    border: solid 0.5px rgba(184, 184, 184, 0.514);
    font-size: 15px;
    text-align: center;
}

#cheap article div {
    height: 235px;
    background-color: #00a89d;
}

#cheap article button {
    margin-left: 55px;
    width: 50%;
    border: none;
    height: 40px;
    border-radius: 10px;
    color: aliceblue;
    background-color: #00a89d;
}

#cheap article button:hover {
    background-color: #2e2c2c;

}

#purchase-it-now {
    height: 20vh;
    background-color: #888484b7;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#purchase-it-now button {
    height: 30px;
}



#social-media {
    height: 30vh;
    background-color: #383838;
    display: flex;
    flex-direction: column;
}

#social-media>img {
    width: 30%;
    margin-left: 35%;
}

#map {
    margin-top: 11px;
    margin-bottom: -1px;
    height: 33vh;
    position: relative;
    background-image: url('map.png');
    background-size: cover;
    height: 480px;
}

form {
    margin-left: 184px;
    margin-bottom: 11px;
    width: 360px;
    padding: 1em;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 6px;
    background-color: #f9f9f9;
}

label {
    display: inline-block;
    display: inline-block;
    width: 141px;
    text-align: left;
    margin-top: 25px;
    margin-left: 1px;
    color: rgb(197, 190, 190);
    font-style: italic;
}

input {
    font: 1em 'Raleway', sans-serif;
    /* Pour que tous les champs texte aient la même dimension */
    width: 365px;
    height: 35px;
    margin-top: -21px;
    border: 1px solid #999;
    border-radius: 3px;
    margin-left: -2px;
    opacity: 30%;
}

#msg {
    width: 365px;
    margin-top: -21px;
    margin-bottom: 15px;
    height: 125px;
    border: 1px solid #999;
    border-radius: 3px;
    margin-left: -2px;
    opacity: 30%;
}

textarea {
    vertical-align: top;
    height: 5em;
}

#contact button {
    padding-left: 118px;
    padding-right: 125px;
    margin-left: -2px;
    margin-right: -27px;
    border-radius: 4px;
    color: rgb(226, 218, 218);
    background-color: #00a89d;
    font-weight: bold;
    text-align: center;
    height: 42px;
    border: none;
}

footer {
    background-color: #383838;
    height: 10vh;
}